<%= form_for @changeset, topic_path(@conn, :create), fn f -> %>
  <label>
    Topic: <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
  </label>
  <%= error_tag f, :title %>

  <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>